.artworksContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.customAuthor {
  font-size: 12px;
}

.customTitle {
  font-size: 10px;
  font-style: italic;
}

.customMuseum {
  font-size: 8px;
}